.ExerciseCard {
    background-color: var(--background1);
    color: var(--elementText);
    border: 2px solid var(--elementDetails);

    min-height: 100%;
    min-width: 100%;
}

.ExerciseCard:hover{
    background-color: var(--background2);
    transition-duration: 0.5s;
}

.ExerciseCard h2, h3, h4 {
    text-align: center;
    padding: 0.5rem;
}

.ExerciseCard > img {
    width: 10rem;
    height: 10rem;

    border: 2px solid var(--elementDetails);

    /* centrar */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ExerciseCard > img.clickable {
    cursor: pointer;
}

.ExerciseCard > .workerButtons, .adminButtons {
    padding: 0.5rem;

    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

.ExerciseCard > .detailsSection {
    background-color: var(--background3);
    
    margin: 1rem;
    padding: 0.5rem 2rem;
}



