
.ButtonMini {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 100px;

    background-color: var(--buttonEmptyColor);
    color: var(--elementText);
    border: 2px solid var(--elementDetails);

    background-size: cover;

    font-weight: bolder;

    cursor: pointer;

    transition-duration: 0.4s;
}

/* .ButtonMini:hover{
    efecto girar o algo
} */

.ButtonMini.favType {
    background-image: url(/public/fav-icon.png);
}

.ButtonMini.favType.isFav {
    background-color: var(--favColor);
}

.ButtonMini.likeType {
  background-image: url(/public/like-icon.svg);
}

.ButtonMini.likeType.isLike {
  background-color: var(--likeColor);
}