footer {
    /* colores invertidos para destacar */
    background-color: var(--elementDetails);
    color: var(--elementBackground);
    border: 2px solid var(--elementText);

    min-height: 1rem;

    font-size: small;

    text-align: end;

    /* mantener abajo */
    margin-top: auto;
}