fieldset {
    background-color: var(--background2);

    padding: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

fieldset input {
    background-color: var(--background3);
    width: 15rem;
}

textarea {
    background-color: var(--background3);
}

form{
    display: flex;
    flex-direction: column;

    font-weight: bold;

    padding: 1rem;
}

form > label, input{
    padding: 0.25rem;
}

form > button {
    /* centrar */
    display: block;

    margin: 1rem auto;
}