.exerciseFieldset {
    background-color: var(--background2);

    padding: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.exerciseFieldset > legend {
    background-color: var(--background2);

    padding: 1rem;
}

.exerciseFieldset li {
    font-weight: bold;
    padding: .25rem;

    list-style: none;
}

input {
    background-color: var(--background3);
    width: 15rem;
}

textarea {
    background-color: var(--background3);
}

#ExerciseForm {
    display: flex;
    flex-direction: column;

    font-weight: bold;
}

#ExerciseForm label, input{
    padding: 0.25rem;
}