.ButtonMiniLike {
    height: 2rem;
    width: 2rem;

    background-image: url(/public/like-icon.svg);
    

    border-radius: 100px;

    border-color: var(--ButtonMiniBorderColor);
    background-color: var(--ButtonMiniBackground);

    background-size: cover;

    font-weight: bolder;
    color: var(--ButtonMiniColor);

    cursor: pointer;

    transition-duration: 0.4s;
}