.divUserManagementPage{
    display: flex;
    flex-direction: column;
}

.articleGesUsuCard{
    background-color: var(--background2);
    color: var(--elementText);
    border: 2px solid var(--elementDetails);

    min-height: 100%;
    min-width: 100%;

    padding: 1.5rem 3rem 0.25rem;
}

.articleGesUsuCard > ul {
    list-style: square;
}

.articleGesUsuCard > ul > li {
    padding: 0.25rem;
}

.articleGesUsuCard > ul > li:first-child {
    list-style: none;
    text-align: center;
    font-weight: bold;
}
.articleGesUsuCard > button {
    margin: 1rem;

    /* centrar */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.activeUsersList {
    display: flex;
    flex-direction: column-reverse;
}

.formNewUser {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 481px) {
    .divUsersManagementPageUser{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}