
.ButtonDelete {
    background-color: yellow;
    color: black;
    border: 2px solid white;
    border-radius: 5px;

    margin: 1rem;
    padding: 1rem;

    max-height: 3rem;
    min-height: 2rem;

    max-width: 8rem;
    min-width: 6rem;

    font-weight: bold;
    text-align: center;
    

    cursor: crosshair;

    transition-duration: 0.4s;
}

.ButtonDelete:hover{
    background-color: red;
}