
.ButtonGeneric {
    background-color: var(--elementBackground);
    color: var(--elementText);
    border: 2px solid var(--elementDetails);
    border-radius: 5px;

    font-weight: bold;
    text-align: center;
    
    cursor: pointer;

    transition-duration: 0.5s;

    width: 5rem;
    height: 3rem;
}

.ButtonGeneric:hover{
    background-color: var(--hoverColor)
}

.ButtonGeneric.delete{
    background-color: var(--warningColor);

    cursor: wait;
}

.ButtonGeneric.delete:hover{
    background-color: var(--dangerColor)
}

.divWorkerButtons, .divAdminButtons {
    padding: 0.5rem;

    display: flex;

    align-items: center;
    justify-content: space-evenly;
}