:root{
    /* elementos principales */
    --elementBackground: mediumpurple;
    --elementText: purple;
    --elementDetails: indigo;

    /* fondos genericos para areas grandes */
    --background1: plum;
    --background2: thistle;

    /* colores especiales */
    --hoverColor: 	powderblue;
    --warningColor: orange;
    --dangerColor: red;
    --buttonEmptyColor: ivory;
    --favColor: gold;
    --likeColor:hotpink;
}