header {
    /* colores invertidos para destacar */
    background-color: var(--elementDetails);
    color: var(--elementBackground);
    border: 2px solid var(--elementText);

    text-align: center;
}